.div-1, .div-2{
    background-color: red;
}

.span-1{
    background-color: aquamarine;
    float: right;
}

.span-2{
    background-color: aqua;
    float: left;
}

.imagen{
    width: 50;
    height: auto;
}
/* algunas etiquetas html tienen por defecto un display block (ocupan todo el ancho de la pantalla) y otras etiquetas tienen un display inline (ocupan lo que ocupa su contenido).
Las imagenes tienen un display especial que se denomina inline-block (permite añadirle ancho y alto de manera manual al contenido de la etiqueta, esto no ocurre con los elementos que tienen display inline solo, para que una etiqueta inline por defecto acepte parámetros de ancho y alto debemos cambiar su condicion a inline-block.